  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-list role="list">
        <mat-list-item role="listitem"><button mat-button routerLink="/users-list" routerLinkActive="active">Список пользователей</button></mat-list-item>
        <mat-list-item role="listitem"><button mat-button routerLink="/profile-view" routerLinkActive="active">Пользователь</button></mat-list-item>
      </mat-list>
    </mat-drawer>
  
    <mat-drawer-content class="example-sidenav-content"><router-outlet></router-outlet></mat-drawer-content>
  
 </mat-drawer-container>
